<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="Enviroment" value="Alpha"/>
    <add key="MinimumList" value="1000"/>
    <add key="Storage" value="mongo"/>

    <add key="ReturnDefaultProduct" value="false"/>
    <add key="DefaultProductId" value="99"/>
    <add key="DefaultProductName" value="DEFAULT"/>
    <add key="DefaultProductQuantity" value="1000"/>
  </appSettings>
</configuration>